<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" th:href="@{/css/style.css}">
	<link rel="stylesheet" th:href="@{/css/detailStyle.css}">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
		
	<title>Employee's information</title>
</head>

<body>
	<h1 class="text-center"> Employee's information detail </h1>
	<hr>
<!--	<div class="container-fluid" th:object="${employeeDetails}">
		First Name : <span th:text="*{firstName}"></span><br>
		Last Name : <span th:text="*{lastName}"></span><br>
		Email : <span th:text="*{email}"></span><br>
		Phone Number : <span th:text="*{phoneNumber}"></span>
	</div>
	-->
	
<div class="container emp-profile">
            <form method="post" th:object="${employeeDetails}">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://mcdn.coolmate.me/image/March2023/meme-meo-cute-hai-huoc-1297_421.jpg" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5 th:text="*{firstName} + ' ' +  *{lastName}"></h5>
                                    <h6 th:text="*{profession}"></h6>
              
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            <a href="">Website Link</a><br/>
                            <a href="">Bootsnipp Profile</a><br/>
                            <a href="">Bootply Profile</a>
                            <p>SKILLS</p>
                            <a href="">Web Designer</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">PHP, .Net</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
						<hr>
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label >User id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p th:text="*{id}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p th:text="*{firstName} + ' ' +  *{lastName}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p th:text="*{email}"> </p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p th:text="*{phoneNumber}"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p th:text="*{profession}"></p>
                                            </div>
                                        </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>           
        </div>
	
	<hr>
	
	<button class="btn btn-primary">
		<a th:href="@{/employees/list}" class="linkbtn">Return List</a>
	</button>
	
	
</body>

</html>